@* The main template for web pages, which contains the
header and footer of the site, as well as plug-in styles *@

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/GeneralStyle.css">
	<link rel="stylesheet" href="~/css/NavigationBar.css">
	<link rel="stylesheet" href="~/css/ElectricCarsCatalog.css">
	<link rel="stylesheet" href="~/css/ElectricCarInfo.css">
</head>
<body>
	<div class="navbar">
		<div class="logo">
			<a href="#">Dealership Management System</a>
		</div>
		<div class="nav-list">
			<a href="#">Home</a>
			<a href="https://localhost:44350/CarShowroom/ElectricCarsCatalog">Electric cars</a>
			<a href="#">About</a>
			<a href="#">Contact</a>
			<a href="#">For managers</a>
		</div>
	</div>
    @RenderBody()
</body>
</html>
