@* Site's home web page *@

@{
	Layout = "_Layout";
}

<body>
	<style>
		* { background-color: transparent; }
	</style>

	<header>
		<div class="description">
			<h1>New Tesla Model S</h1>
			<p>
				Experience the future of luxury driving with the Tesla Model S. With instant torque and acceleration, advanced technology, and a range of up to 373 miles on a single charge, the Model S delivers an unparalleled driving experience. Discover the power of the Tesla Model S today!
			</p>
			<a href="#" class="shop">Explore</a>
		</div>
	</header>
</body>
