.cars {
    margin-top: 5.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.car {
    margin: 1.8em;
    text-align: center;
}

.car img {
    width: 95%;
}

.car a {
    text-decoration: none;
}

.car a:hover {
    text-shadow: 0 0 0.6em #ff0000;
}

.brief-characteristic-value
{
    display: flex;
    justify-content: space-between;
}

.car h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.1em;
    margin-block: 0.6em;
}

.brief-characteristic-value h3 {
    margin-block: 0.2em;
    font-family: Montserrat;
    font-size: 1.45em;
    font-weight: 500;
}
