.car-info h1 {
    font-size: 2.8em;
    margin-top: 0.5em;
    text-align: center;
}
.car-info h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
}

.car-info h3 {
    font-size: 1.3em;
    margin-block: 0.1em;
}

/*.car-info hr {
    border: none;
    color: #323637;
    background-color: #5e5e5e;
    height: 1px;
    margin-inline: 2em;
}*/

.image-characteristics {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    margin: 1.5em;
}

.car-images {
    text-align: center;
    margin: 1.5em;
}

.car-images img {
    width: 70%;
}

.characteristics-grid {
    display: grid;
    grid-template-columns: 1.07fr 1fr;
    margin-inline: 2em;
    margin-block: 3em;
}

.online-consultation-button {
    text-align: center;
    font-size: 2em;
}

.characteristic-value {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.7em;
    padding-block: 0.3em;
}

.bg-grey {
    background-color: #323637;
}

.performance,
.home-charging,
.dimensions,
.miscellaneous {
    margin-right: 3em;
}
