@using DealershipManagementSystem

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hyundai Kona Electric</title>
	<link rel="stylesheet" href="~/css/GeneralStyle.css">
	<link rel="stylesheet" href="~/css/HeaderAndFooter.css">
	<link rel="stylesheet" href="~/css/ElectricCarCharacteristics.css">
</head>
<body>
	<div class="car-info">
		<h1>Hyundai Kona Electric</h1>
		<div class="image-characteristics">
			<div class="car-images">
				<img src="~/images/Hyundai Kona Electric/Car Image 1.jpg" />
			</div>
			<div class="performance-battery">
				<div class="performance">
					<h2>Performance</h2>
					<h3>Acceleration</h3>
					<h3>Top Speed</h3>
					<h3>Electric Range</h3>
					<h3>Total Power</h3>
					<h3>Total Torgue</h3>
					<h3>Drive</h3>
				</div>
				<div class="battery">
					<h2>Battery</h2>
					<h3>Nominal Capacity</h3>
					<h3>Useable Capacity</h3>
					<h3>Battery Type</h3>
					<h3>Architecture</h3>
					<h3>Nominal Voltage</h3>
				</div>
				<div class="online-consultation-button">
					<a href="#">Online Consultation</a>
				</div>
			</div>
		</div>
		<div class="characteristics">
			<div class="home-charging">
				<h2>Home Charging</h2>
				<h3>Charge Port</h3>
				<h3>Port Location</h3>
				<h3>Charge Power</h3>
				<h3>Charge Time</h3>
				<h3>Charge Speed</h3>
			</div>
			<div class="fast-charging">
				<h2>Fast Charging</h2>
				<h3>Fastcharge Port</h3>
				<h3>FC Port Location</h3>
				<h3>Fastcharge Power (max)</h3>
				<h3>Fastcharge Time</h3>
				<h3>Fastcharge Speed</h3>
			</div>
		</div>
		<div class="characteristics">
			<div class="dimensions">
				<h2>Dimensions</h2>
				<h3>Length</h3>
				<h3>Width</h3>
				<h3>Height</h3>
				<h3>Wheelbase</h3>
				<h3>Clearance</h3>
			</div>
			<div class="weight">
				<h2>Weight</h2>
				<h3>Weight Unladen</h3>
				<h3>Gross Vehicle Weight</h3>
				<h3>Max Payload</h3>
				<h3>Cargo Volume</h3>
				<h3>Cargo Volume (max)</h3>
			</div>
		</div>
		<div class="characteristics">
			<div class="miscellaneous">
				<h2>Miscellaneous</h2>
				<h3>Transmission</h3>
				<h3>Gear Box</h3>
				<h3>Seats</h3>
				<h3>Car Body</h3>
			</div>
			<div class="purshase">
				<h2>Purchase</h2>
				<h3>Price</h3>
				<h3>Year Of Issue</h3>
				<h3>Manufacturer</h3>
				<h3>Order Status</h3>
			</div>
		</div>
	</div>
</body>
</html>